body{
	font-size: :14px;
	line-height: :1.618rem;
	color: #535454;
}/* sets the text color and base height and size*/

p{
	color: #535454;
}/*anything under the p tag colr*/

li{
	float:left;
	color:#535454;
	display:inline-block;
}

li a{
	display:block;
	color:#535454;
	text-align:center;
	padding: 0.55em 0.87em;
	text-decoration:none;
}

li a:hover{
	background-color:#DDDDDD;
	text-decoration:none;
}

.container-fluid{
	 padding-left:0px;
	 padding-right:0px;
	 height: 100%
 }/*base padding for container fluid calss*/

.row{
	margin:0 auto;
}

.no-padding{
	padding:0 !important;
	margin:0 !important;
}

.row-eq-height{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.bannerimage{
  background-size:  cover;
  background-position: 60% 40%; /* default value: image is centred*/
  background-image:url(Images/AESGlobal.png);
  background-repeat:no-repeat;
	margin-top:3em;
}


.logo{
	width: 15em;
	height: 10em;
	background:#ffffff;
	position:absolute;
	top:-2.65em;
}

.logo img{
	width: 100% \9; /*for SVG images for IE 8-10*/
	height:100%;
	background:#ffffff;
	z-index:8;
	left:0.5em;
	position:absolute;
	border-bottom-right-radius: 10%;
	top:0em;

}

.textonlylogo{
	background:#ffffff;
	z-index:8;
	position:absolute;
	margin-left:auto;
	margin-right:auto;
	display:inline-block;
	width:100%;
	height:auto;
	top:-3em;
}

.img-responsive{
	margin-left:auto;
	margin-right:auto;
	display:inline-block;
	max-width:100%;
	height:auto;
}

.uppercurve{
	width: 15em;
	height: 7.35em;
	left:11em;
	top:0em;
	z-index:3;
	position:relative;


}

.navigation{
	float:none;
	margin: 0 auto;
	width:100%;
	margin-top: -3em;
}

.navigation a{
	border-bottom:none;
}

.navigation a:hover{
color: #dd1e25;
text-decoration:none;
}

/* Hide the link that should open and close the topnav on small screens */
.navigation a.icon {
		display: none;
}

.navbar-header a{
	border-bottom:none;
}/*navigation bar links when clicked on or hovered over*/

.socialmedia{
	width: 100%;
	height: 6em;
	background:#ffffff;
	position:absolute;
	bottom:0;

}

.icons a:nth-child(1) i{

	color:#1DA1F2;
	padding-right:0.60em;
	margin-top:0.65em;
	margin-left: -0.15em;
	z-index:4;
	position: relative;
	text-decoration: none;
	font-size: 2.5em;
}

.icons a:nth-child(2) i{

	color:#0077b5;
	padding-right:0.60em;
	margin-top:0.65em;
	position: relative;
	text-decoration: none;
	font-size: 2.5em;

}

.icons a:nth-child(3) i{

	color: #d34836;
	padding-right:0.60em;
	margin-top:0.65em;
	position: relative;
	text-decoration: none;
	font-size: 2.5em;

}

.icons a:nth-child(4) i{
	color:#002A5B;
	padding-right:0.60em;
	margin-top:0.5em;
	position: relative;
	text-decoration: none;
	font-size: 2.5em;

}

.icons a:nth-child(5) i{

	color:#d34836;
	margin-top:0.5em;
	text-decoration: none;
	position: relative;
	font-size: 2.5em;

}

.icons a{
	border-bottom:none;
	display: inline-block;
}

.curve-down{
	width: 8em;
	height: 6em;
	right: 6.5em;
	position:relative;
	z-index:3;
	bottom:0;
	margin-top:2em;
}

.text{
	position:absolute;
	top:-1em;
	left:0;
	width:75%;
	padding-left: 15px;
}

.text p{
	color:#ffffff;
	position:relative;
	bottom:0;
	left:0;
}

.text h1{
	color:#DD1E25;
	position:relative;
	bottom:0;
	left:0;
}

.content-blockthick{
	background: #8d8e8f;
background: -moz-linear-gradient(-45deg, #8d8e8f 0%, #5c5f60 84%, #a6aaad 100%);
background: -webkit-linear-gradient(-45deg, #8d8e8f 0%,#5c5f60 84%,#a6aaad 100%);
background: linear-gradient(135deg, #8d8e8f 0%,#5c5f60 84%,#a6aaad 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d8e8f', endColorstr='#a6aaad',GradientType=1 );
	height:800px;
	width:100%;
	margin-top: 4em;
}

.content-block{
	background: #8d8e8f;
background: -moz-linear-gradient(-45deg, #8d8e8f 0%, #5c5f60 42%, #a6aaad 100%);
background: -webkit-linear-gradient(-45deg, #8d8e8f 0%,#5c5f60 42%,#a6aaad 100%);
background: linear-gradient(135deg, #8d8e8f 0%,#5c5f60 42%,#a6aaad 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d8e8f', endColorstr='#a6aaad',GradientType=1 );
	height:500px;
	width:100%;
	margin-top: 4em;
}

.content-blockthin{
	background: #8d8e8f;
	background: -moz-linear-gradient(-45deg, #8d8e8f 0%, #5c5f60 10%, #a6aaad 100%);
	background: -webkit-linear-gradient(-45deg, #8d8e8f 0%,#5c5f60 10%,#a6aaad 100%);
	background: linear-gradient(135deg, #8d8e8f 0%,#5c5f60 10%,#a6aaad 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d8e8f', endColorstr='#a6aaad',GradientType=1 );
	height:180px;
	width:100%;
	margin-top: 4em;
}

/*aspect ratio 27.35%*/

@media screen and (max-width: 767px) {
	h1{
		font-size:30px;
		line-height:49px;
	}
    h2{
		font-size:25px;
		line-height:40px;
	}
	h3{
		font-size:19px;
		line-height:30px;
	}
	h4{
		font-size:16px;
		line-height:26px;
	}
	h5{
		font-size:16px;
		line-height:26px;
	}
	h6{
		font-size:16px;
		line-height:26px;
	}
	.lead{
		font-size:16px;
		line-height:26px;
	}
	body {
        font-size: 12px;
        line-height: 19px;
    }

		.curve-down{
			display:none;
		}

.socialmedia{
	text-align: center;
	background-color: transparent;
	position: absolute;
	margin-bottom: -4.5em;
	right: 0;
	width:100%;
}

.icons a:nth-child(1) i{
padding-right:0.8em;
z-index:4;
}

.icons a:nth-child(2) i{
padding-right:0.8em;
z-index:4;
}

.icons a:nth-child(3) i{
padding-right:0.8em;
z-index:4;
}

.icons a:nth-child(4) i{
	padding-right:0.8em;
	z-index:4;
}

.icons a:nth-child(5) i{
	z-index: 4;
}

.navigation a {display: none;}
.navigation a.icon {
	float: right;
	display: block;
	padding-top:0.35em;
	margin-right:  0.5em;
}


.navigation.responsive {position: relative;}
.navigation.responsive a.icon {
	position: relative;
	left:  0;
	top: 0;
	width: 100%;
}

.navigation.responsive a {
	float: none;
	display: block;
	text-align: left;
}

ul{
	list-style-type: none;
	overflow:hidden;
	background-color:#ffffff;
	padding-left: 0em;
}

.gap{
	height:5em;
}

.bottom-gap{
	height: 7em;
}

}

/* sm */
@media screen and (min-width: 768px) {
	h1{
		font-size:32px;
		line-height:52px;
	}
	h2{
		font-size:27px;
		line-height:44px;
	}
	h3{
		font-size:21px;
		line-height:34px;
	}
	h4{
		font-size:18px;
		line-height:30px;
	}
	h5{
		font-size:18px;
		line-height:30px;
	}
	h6{
		font-size:18px;
		line-height:30px;
	}
	.lead{
		font-size:18px;
		line-height:30px;
	}
    body {
        font-size: 14px;
        line-height: 23px;
    }

		ul{
			list-style-type: none;
			overflow:hidden;
			background-color:#ffffff;
			padding-left: 0em;

		}

		.socialmedia{
			text-align: center;
		}

		.icons a:nth-child(1) i{
		margin-left: 0.35em;
		margin-top:0.25em;
		padding-right:0.8em;
		z-index:4;
		}

		.icons a:nth-child(2) i{
		padding-right:0.8em;
		margin-top:0.25em;
		z-index:4;
		}

		.icons a:nth-child(3) i{
		padding-right:0.8em;
		margin-top:0.25em;
		z-index:4;
		}

		.icons a:nth-child(4) i{
			padding-right:0.8em;
			margin-top:0.35em;
			z-index:4;
		}

		.icons a:nth-child(5) i{
			z-index: 4;
			margin-top:0.35em;
		}

		.gap{
			height:6em;
		}

		.bottom-gap{
			display:none;
		}

}

/* md */
@media screen and (min-width: 992px) {
	h1{
		font-size:34px;
		line-height:55px;
	}
	h2{
		font-size:29px;
		line-height:47px;
	}
		h3{
		font-size:22px;
		line-height:37px;
	}
	h4{
		font-size:20px;
		line-height:32px;
	}
	h5{
		font-size:20px;
		line-height:32px;
	}
	h6{
		font-size:20px;
		line-height:32px;
	}
	.lead{
		font-size:20px;
		line-height:32px;
	}
    body {
        font-size: 16px;
        line-height: 26px;
    }

		ul{
			list-style-type: none;
			overflow:hidden;
			background-color:#ffffff;
			padding-left:4em;

		}

		.socialmedia{
			text-align: left;
		}

.textonlylogo{
	display:none;
}

.icons a:nth-child(1) i{
	margin-left: -0.40em;
	padding-right:0.56em;
	margin-top:0.5em;
	z-index:4;
}
.icons a:nth-child(2) i{
	padding-right:0.56em;
	margin-top:0.5em;
	z-index:4;
}
.icons a:nth-child(3) i{
	padding-right:0.56em;
	margin-top:0.5em;
	z-index:4;
}
.icons a:nth-child(4) i{
	padding-right:0.56em;
	margin-top:0.5em;
	z-index:4;
}

.gap{
	height:8em;
}

}

/* lg */
@media screen and (min-width: 1200px) {
	h1{
		font-size:36px;
		line-height:58px;
	}
	h2{
		font-size:31px;
		line-height:50px;
	}
	h3{
		font-size:24px;
		line-height:40px;
	}
	h4{
		font-size:22px;
		line-height:36px;
	}
	h5{
		font-size:22px;
		line-height:36px;
	}
	h6{
		font-size:22px;
		line-height:36px;
	}
	.lead{
		font-size:22px;
		line-height:36px;
	}
    body {
        font-size: 18px;
        line-height: 29px;
    }

		.icons a:nth-child(1) i{
			margin-left: -0.25em;
			padding-right:0.6em;
			margin-top:0.5em;
			z-index:4;
		}

		ul{
			width:100%
		}

		.gap{
			height:10em;
		}
}

@media (max-width: 992px){

.logo img{
	display:none;
}

.logo{
display:none;
}

.uppercurve{
	display:none;
}

.text{
	display:none;
}

}

.footer {
padding-top:0px;
padding-bottom:0px;
width:100%;
text-align:center;
}/*footer code for its sizing*/
